<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProdIncentive.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="myservername" value="192.166.0.51" />
    <add key="mydbname" value="antsprodlive" />
    <add key="winauth" value="N" />
    <add key="userid" value="exe" />
    <add key="mypwd" value="OlE:ZLUX[bzI" />
    <add key="reportpath" value="c:\Reports\" />
    <!--<add key="Provideroledb" value="SQLOLEDB"/>-->
    <add key="Provideroledb" value="" />
    <add key="NetworkLibrary" value="Network Library=DBMSSOCN" />
    <add key="PostPeriod" value="2021-22" />
    <add key="ProdMktbarcode" value="1" />
    <!-- <add key="mycostdbname" value="acccost" />-->
    <add key="mycostdbname" value="prodcost" />
    <add key="InvReportname" value="GST PREINVOICE cor.rpt" />
    <add key="DelReportname" value="RR Packing Slip.rpt" />
    <add key="LorryReportname" value="GST LAYOUT TRANSPORT.rpt" />
    <add key="FWReportname" value="Despatch Forwarding Note Print.rpt" />
    <add key="Rtgscovername" value="Payment Covering Letter.rpt" />
    <add key="Nopermac" value="1.60" />
    <add key="contprocess" value="49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,85,86" />
    <add key="OS" value="WIN" />
    <add key="Linuxfilepath" value="/home/test/Desktop/MyApp/automrpsticker/" />
    <add key="tempfolder" value="/home/test/Desktop/MyApp/temp" />
    <add key="TSCPrinter_1" value="/dev/usb/lp0" />
    <add key="TSCPrinter_2" value="/dev/usb/lp1" />
    <add key="PrintAPI" value="http://192.166.1.40/crystalprintservice/api/Print/PrintReport" />
    <add key="AppPath" value="/home/test/Desktop/MyApp/automrpsticker/" />
    <add key="XLfilepath" value="/home/test/Desktop/MyApp/xl/" />
    <add key="rmyservername" value="192.166.0.5" />
    <add key="rmydbname" value="eneslive" />
    <add key="rwinauth" value="N" />
    <add key="ruserid" value="sa" />
    <add key="rmypwd" value="V4IESZT:" />
    <add key="rProvideroledb" value="SQLOLEDB" />
    <add key="internet" value="Y" />
    <add key="Linkedserver" value="RR" />
    <add key="SameServer" value="N" />
    <add key="SameDb" value="N" />
    <add key="Autopnl" value="N" />
    <add key="Nxtyrstart" value="2016-04-01" />
    <add key="conservername" value="192.166.0.5" />
    <add key="condbname" value="rrlive" />
    <add key="conwinauth" value="N" />
    <add key="conuserid" value="sa" />
    <add key="conpwd" value="V4IESZT:" />
    <add key="conProvideroledb" value="SQLOLEDB" />
    <add key="coninternet" value="N" />
    <add key="cLinkedserver" value="mpls" />
    <add key="smtp" value="mail.atithya.net" />
    <add key="port" value="587" />
    <add key="mailid" value="Atithya Accounts" />
    <add key="mailpwd" value="Accounts#2018" />
    <add key="mailusername" value="accounts@atithya.net" />
    <add key="rdoccode" value="VPM10014" />
    <!-- <add key="rdoccode" value="VPM20004" />-->
    <add key="ccmailid" value="accounts@atithya.net,mathews@atithya.net,muthukumar@atithya.net" />
    <add key="pdffile" value="rtgs-" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <ProdIncentive.My.MySettings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </ProdIncentive.My.MySettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>